html {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
}

body {
    margin: 0;
    background-color: #222;
}

header {
   background-color: #141414;
    color: white;
    padding: 3rem 2rem;
}

header h1 {
    font-size: 4rem;
    text-align: center;
}

.navbar {
    background-color: #1b1a1a;
    overflow: hidden;
    position: relative;
}

.navbar h2{
    margin: 0;
    float: left;
    padding: 1rem;
    color: aliceblue;
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 2rem;
    padding: 1rem;
    cursor: pointer;
    float: right;
}

.nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content:right;
    align-items: center;
}

.nav-item {
    margin: 0;
    position: relative;
}

.nav-item a {
    display: block;
    color: white;
    text-align: center;
    padding: 1rem 2rem;
    text-decoration: none;
    transition: background-color 0.3s;
}

.nav-item a:hover {
    background-color: #575757;
}

.dropdown{
    position: relative;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #1b1a1a;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgb(0, 0, 0,0.2);
    z-index: 1;
}

.dropdown-content a{
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover{
    background-color: #575757;
}

.dropdown:hover .dropdown-content, .dropdown-content.show{
    display: block;
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 2rem;
    padding: 1rem;
    cursor: pointer;
    float: right;
}



.carrusel {
    width: 100%;
    height: 700px;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 12px 16px black;
}

.carrusel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
    will-change: transform;
}

.carrusel-item {
    position: relative;
    min-width: 100%;
    transition: transform 1s ease-in-out;
}

.carrusel-item img {
    width: 100%;
    border-radius: 10px;
    opacity: 0.7;
}

.carrusel-texto{
    position: absolute;
    bottom: 33%;
    left: 10px;
    color: aliceblue;
    font-size: 1.2rem;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    border-radius: 5px;
    z-index: 10;
}

#actividades {
    margin-top: 8rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

#actividades h2 {
    color: aliceblue;
}

#tarjetas{
    display: flex;
    justify-content: space-around;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 5rem;
    gap: 20px;
    flex-wrap: wrap; /* Permite que las tarjetas se ajusten en pantallas pequeñas */
}

#tarjetas article {
    width: 30%;
    padding: 15px;
    text-align: center;
}

#tarjetas article h2 {
    color: aliceblue;
}

#tarjetas article img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.tarjeta_deporte {
    background-color: #3e3c3c;
    border-radius: 8px;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.tarjeta_deporte:hover {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
    transform: scale(1.1);
}

.informacion-adicional{
    display: none;
    margin-top: 1rem;
}

.tarjeta_deporte .informacion-adicional.show{
    display: block;
}

.informacion-adicional h2{
    margin-top: 3rem;
}

.informacion-adicional h3{
    color: aliceblue;
}

.informacion-adicional p{
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    text-align: left;
    margin-bottom: 3rem;
}

.informacion-adicional li{
    margin-top: 0.5rem;
    text-align: left;
}


.toggle-info{
    cursor: pointer;
    color: aliceblue;
    background-color: #3e3c3c;
    border: none;
    font-size: 1rem;
    margin-top: 1rem;
    padding: 0;
    transition: color 0.3s ease;
}

.toggle-info:hover {
    color: cornflowerblue;
}


.information{
    display: flex;
    justify-content: space-around;
    gap: 10px;
    flex-wrap: wrap
}

.information article{
    padding: 20px;
    margin-top: 10px;
    height: 400px;
    width: 45%;
    background-color: #222;
}

.information article h2,p {
    color: aliceblue;
}

#informacion ol,li{
    color: aliceblue;
}

.informacion-adicional{
    background-color: #4a4848;
    padding: 1rem;
}

.horarios{
    margin-left: 3rem;
    float: left;
}

.entrenadores{
    margin-right: 8rem;
    float: right;
}

.beneficios{
    margin-bottom: 2rem;
}


footer {
    margin-top: 30px;
    background-color: #141414;
    padding: 3rem;
    color: white;
}

footer section {
    float: right;
}

footer p {
    margin: 0;
}

footer a {
    transition: color 0.3s ease;
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: cornflowerblue;
}



/* Media queries para pantallas más pequeñas */
@media (max-width: 768px) {
    .menu-toggle {
        display: block;
    }
    .nav-list {
        flex-direction: column;
        display: none;
    }
    .nav-list.show {
        display: flex;
    }
    .nav-item a {
        padding: 1rem;
    }
    .dropdown-content{
        position: static;
    }

    header h1 {
        font-size: 3rem;
    }
    .carrusel {
        height: 500px;
    }
    #tarjetas article {
        width: 45%;
    }
    .information article {
        width: 100%;
    }
    #map {
        height: 200px; /* Ajustar la altura del mapa para pantallas más pequeñas */
    }

}

@media (max-width: 480px) {
    .nav-list {
        flex-direction: column;
    }
    .nav-item a {
        padding: 1rem;
    }
    header h1 {
        font-size: 2.5rem;
    }
    .carrusel {
        height: 300px;
    }
    #tarjetas article {
        width: 100%;
    }
    .information article {
        width: 100%;
    }
    #map {
        height: 150px; /* Ajustar la altura del mapa para pantallas muy pequeñas */
    }
    footer section {
        float: none;
        text-align: center;
    }
    footer a {
        display: block;
        margin-bottom: 10px;
    }

   
}
