{% extends "veterinaria_app/base.html" %}
{% load static %}

{% block title %}Servicios{% endblock %}
{% block content %}
<section class="intro-servicios cuerpo">
    <h1>Nuestros Servicios</h1>
    <p>
        Cuidamos de tus mascotas con el amor y la atención que merecen <br><br>
        En nuestra veterinaria, ofrecemos una gama completa de servicios médicos para garantizar la salud y el bienestar de tus mascotas. 
        Contamos con un equipo de veterinarios expertos y las más modernas instalaciones para brindar 
        atención de calidad en cada etapa de la vida de tu compañero.
    </p>
    <h2>Porque elegirnos?</h2>
        <ul>
            <li><strong>Equipo especializado: </strong>Veterinarios con experiencia y formación 
                continua en las últimas técnicas de cuidado animal.
            </li>
            <li><strong>Atencion perzonalizada: </strong>
                Tratamos a cada mascota como si fuera nuestra, con cariño y dedicación.
            </li>
            <li>
                <strong>Teconologia Avanzada: </strong>
                Equipos modernos para garantizar diagnósticos rápidos y tratamientos efectivos.
            </li>
            <li><strong>Seguimiento y apoyo: </strong>Te acompañamos en todo el proceso de recuperación y mantenimiento de la salud de tu mascota.</li>
        </ul>
</section>
<section class="lista-servicios">
    <div class="servicio-item">
        <section style="margin-right: 1rem;">
            <img src="{% static 'img/servicios/consultas.jpg'%}" alt="Consulta general">
        </section>
        <section>
            <h3>Consulta General</h3>
            <p>Atención Integral para tus Mascotas <br><br> 
                Nos especializamos en ofrecer un cuidado personalizado y 
                de calidad para asegurar el bienestar y la felicidad de 
                tus compañeros peludos. Tu mascota recibirá la atención que merece, 
                en manos de profesionales comprometidos con su salud.</p>
        </section>
    </div>
    <div class="servicio-item">
        <section>
            <h3>Vacunación y Desparasitación</h3>
            <p>Protección Total para tus Mascotas <br><br> Asegura la salud y bienestar de tus 
                mascotas con nuestros servicios de vacunación y desparasitación preventiva. 
                Ofrecemos un plan integral para protegerlos de enfermedades y parásitos, 
                garantizando que vivan felices y saludables. 
                ¡La prevención es el primer paso para una vida larga y plena!</p>
        </section>
        <section>
            <img src="{% static 'img/servicios/vacunacion.jpg' %}" alt="Vacunación">
        </section>
    </div>
    <div class="servicio-item">
        <section style="margin-right: 1rem;">
            <img src="{% static 'img/servicios/cirugia.jpg' %}" alt="Consulta general">
        </section>
        <section>
            <h3>Cirugias</h3>
            <p>Cirugía Veterinaria de Alta Calidad <br><br> Contamos con un equipo de especialistas
                y tecnología avanzada para realizar cirugías seguras y efectivas. Ya sea
                un procedimiento de rutina como la esterilización o una intervención compleja,
                garantizamos el máximo cuidado y atención en cada paso. Nuestro compromiso es
                asegurar la pronta recuperación de tu mascota, brindándole el mejor tratamiento
                quirúrgico y postoperatorio. ¡Tu compañero está en las mejores manos!</p>
        </section>
    </div>
    <div class="servicio-item" >
        <section>
            <h3>Estetica y limpieza</h3>
            <p>Estética y Bienestar para tus Mascotas <br><br> Ofrecemos un servicio completo
                de grooming que incluye baños, cortes de pelo y cuidados especializados
                para que tu mascota no solo luzca increíble, sino que también se sienta 
                cómoda y saludable. Mímala con el tratamiento que merece y dale una 
                experiencia de bienestar total. ¡Tu mascota lo agradecerá!</p>
        </section>
        <section>
            <img src="{% static 'img/servicios/estetica.jpg' %}" alt="Vacunación">
        </section>
    </div>
    <div class="servicio-item">
        <section style="margin-right: 1rem;">
            <img src="{% static 'img/servicios/hozpitalizacion.jpg' %}" alt="Consulta general">
        </section>
        <section>
            <h3>hozpitalizacion</h3>
            <p>Hospitalización con Cuidado Integral Ofrecemos un ambiente seguro y confortable
                para las mascotas que requieren hospitalización. <br><br> Nuestro equipo monitorea de
                cerca su estado las 24 horas, brindando atención personalizada y tratamientos 
                médicos especializados. Nos aseguramos de que tu mascota reciba el mejor cuidado
                posible durante su recuperación, con todo el amor y dedicación que merece.
                Tu tranquilidad es nuestra prioridad.</p>
        </section>
    </div>
    <div class="servicio-item">
        <section>
            <h3>Emergencias</h3>
            <p>Atención Veterinaria de Emergencia 24/7 Estamos listos para atender a tu mascota
                en situaciones críticas. Nuestro equipo especializado en emergencias veterinarias
                está disponible las 24 horas, ofreciendo una respuesta rápida y eficiente en casos
                de accidentes, enfermedades graves o cualquier situación que ponga en riesgo la vida
                de tu mascota. Contamos con instalaciones equipadas para brindar cuidados intensivos
                y tratamientos inmediatos. ¡Tu mascota estará en manos expertas cuando más lo
                necesite!
        </section>
        <section>
            <img src="{% static 'img/servicios/emergencias.png' %}" alt="Vacunación">
        </section>
    </div>
</section>
{% endblock %}